:root {
  font-family: "Noto Sans KR", sans-serif;

  --font-xlarge: 24px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;

  --font-bold: 700;
  --font-normal: 500;
  --font-demilight: 350;
  --font-light: 300;

  /* colors */
  --color-black01: #000000;
  --color-black02: #474747;
  --color-gray01: #858585;
  --color-gray02: #929292;
  --color-gray03: #b4b4b4;
  --color-gray04: #c4c4c4;
  --color-gray05: #dadada;
  --color-orange01: #ff4b3e;
  --color-orange02: #ff5f00;
  --color-orange03: #f58f29;
  --color-yellow01: #feb700;
  --color-yellow02: #fec229;
  --color-blue01: #0009de;
  --color-blue02: #0057bd;
  --color-navy01: #235789;
  --color-navy02: #385c7d;
  --color-darkgray: #444444;
  --color-mint: #00bdb2;
  --color-brown: #bd5b00;
  --color-sand: #c39a7d;
  --color-pink: #db3069;
  --color-green: #9bc53d;

  /* elements */
  --nav-bg: #00c7a3;
  --nav-icon-point: #00ff88;
  --body-color: #eeebe5;
  --bar-color: #dadada;
  --color-white: white;
  /* 더 추가사항이 있을까요?*/
}

body {
	font-size: var(--font-medium);
	font-weight: var(--font-normal);
}

.wrap {
	padding-top: 44px;
	min-width: 375px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 58px;
	display: flex;
	flex-direction: column;
}

/* nav */
.nav-items {
	background-color: var(--nav-bg);
	min-width: 375px;
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
	height: 58px;
	justify-content: space-around;
	align-items: center;
}

/* title */
.title {
	font-weight: 500;
}


/* graph */
.graph {
	width: 200px;
	height: 20px;
	background-color: var(--color-gray04);
	position: relative
}
.graph-state {
	width: calc(100% - 82px);
	margin: 0 45px 0 35px;
	height: 6px;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
.state-bar {
	position: absolute;
	background-color: var(--color-yellow02);
	height: 20px;
	width: 30%;
	left: 0;
	top: 0;
}
.state-pointer {
	width: 4px;
	height: 15px;
	border-radius: 5px;
	position: absolute;
	background-color: var(--color-orange02);
	top: -7px;
	right: 20px;
	border: 2px solid #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, rgba(0, 0, 0, .25));
}
.graph-state .state-bar {
	height: 6px;
}
